*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.square {
    margin: 5px;
    width: 13%;
    aspect-ratio: 1;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;


}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  
}